body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .login,
  .register {
    width: 400px;
  }
  
  .login h2,
  .register h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .login a {
    text-align: center;
  }
  
  input[type='text'] {
    background-color: #e6e6e6;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    width: 85%;
    padding: 10px 10px;
  }
  
  input[type='password'] {
    background-color: #e6e6e6;
    padding: 10px 10px;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    width: 85%;
  }
  
  input[type='submit'] {
    padding: 15px 0px;
    background-color: rgba(0, 0,0, 0.253);
    font-size: 16px;
    color: #fff;
    border: none;
    width:100px;
  }
  
  .btn-log:hover{
    background:#ff4800;
  }
    
  .check {
    font-size: 16px;
  }
  .login-location{
      height: 100%;
      padding: 20px 0px;
  }

  .btn-log{
    background:rgba(0, 0,0, 0.253)
  }