@import '~antd/dist/antd.css';


.trace-title{
    text-align: center;
    
}

.trace-title h2{
    font-size: 52px;
}
.trace{
    margin-bottom: 50px;
}

.trace-cont{
    font-size: 16px;
    text-align: justify;
    margin-top: 50px;
}